@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {  
   font-family: Dancing Script;
}

.cont_geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    
    padding: 0px 20px 0px 20px;
    flex-wrap: wrap;
    background-color: gray;
}

.header{
    padding: 10px 10px 50px 10px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px black solid;
    border-right: 2px black solid;
    padding: 10px 50px 10px 50px;
    background: rgba(154, 197, 244);
    align-items: center;
    box-shadow: 5px 5px 0px 0px rgb(39, 55, 77);
    border-radius: 4px;
}

.cabecalho p{
    color: white;
}

.cabecalho a{
    text-decoration: none;
}

.logo{
    font-size: 24px;
    font-family: Dancing Script;
    padding-right: 20rem;
 }

 .list{  
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    font-size: 17px;
    color: black;
}


.espaço{
    padding: 20px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}   
.espaço_1{
    padding: 30px 30px 10px 30px;
    
}
  .rodape{
    background-color: rgb(71, 169, 146);
    padding: 0px 200px ;
    border-radius: 2px;
    font-weight: bold;
    
    box-shadow: 5px 5px 0px 0px rgb(39, 55, 77);
    border: 4px black solid;
    border-radius: 10px;
    gap: 2rem;
  }

  .content{
    
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
  }

  .cont_dados{
    display: flex;
    gap: 5rem;
  }

  .rodape ul{
    display: flex;
    gap: 5px;
    padding: 10px 0px 0px 0px;
}

.rodape img{
    width: 40px;
    border-radius: 10px;
}

.logo_rodape{
    font-size: 38px;
    font-family: Dancing Script;
    
 }

.contatos{
    border: 2px black solid;
    padding: 20px;
    border-radius: 10px;
}
  
  .texto_contado{
      display: flex;
      flex-direction: column;
      row-gap: 5px
  }

  
  .texto{
    border: 2px black solid;
    background-color:  rgb(71, 169, 146);
    box-shadow: 5px 5px 0px 0px rgb(39, 55, 77);
    border-radius: 20px;
    padding: 25px 15px;
    
}

.cont_pecas{
    display: flex;
    flex-direction: column;
    background-color: rgba(72, 84, 96,1.0);
    border: 2px black solid;
    border-radius: 10px;
    padding: 10px;
    flex-wrap: wrap;
    text-align: center;
    gap: 1.5rem;
 
}

.cont_pecas h1{
    font-weight: bold;
    font-family: Dancing Script;
    font-size: 64px;
}

.itens{
    display: flex;
    align-items: center;
    gap: 2em;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}   

.itens p{
    padding: 5px 0px 5px 0px;
    font-weight: bold;

}


.itens img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.pecas{
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    padding: 20px;
    background-color: rgb(71, 169, 146);
    border-radius: 10px;
    
}

.pecas img{
    background-color: white;
    border: 2px black solid;
}

.pecas button{
    padding: 10px 0px 10px 0px;
}

.preco{
    display: flex;
    justify-content: end;
    padding: 5px 20px 5px 20px;
}

.preco img{
    width: 25px;
    height: 25px;
    background-color: rgb(71, 169, 146);
    border: none;
}
